/* Global styles ============= */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab&display=swap');

html,
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';

  color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-color: #343a40 !important;
}

html {
  scroll-behavior: smooth;
}

/* font-family: 'Anton';
font-style: normal;
font-weight: 400 */






body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';

  color: white;

  background-size: cover;
  background-position: center;

}

a {
  color: #fdcc52;
  transition: all .35s;
}


a:hover,
a:focus {
  color: #fcbd20;
}

.list-group-item {
  background-color: transparent;
  color: white;
  list-style-type: disc;
  margin-left: 1rem;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

/* h1, */
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/* Navigation bar styles ============= */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #5e6564;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fd52c7;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav>li>a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
  color: #222222;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
  color: #fdcc52;
}


/* Hero section ============= */
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: rgb(235, 225, 225);

  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

.about-me-txt {
  color: rgb(237, 237, 246);

}


.social-icons a i {
  color: #ff69b4;
}



.text-uppercase {
  color: rgb(16, 16, 17);
}

.card-title {
  color: #222222;
}

.skills3 {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background-image: linear-gradient(150deg, #666666, #444444, #cccccc, #dddddd, #999999);
  margin-top: 30px;
  transition: background-color 0.3s ease-in-out;
}

.skills3:hover,
.skills3:focus {
  color: #fd52c7;
}

.card-body {
  background-color: rgb(240, 248, 226)
}


.sub-heading {
  text-decoration: none;
  position: relative;
}

.sub-heading:after {
  position: absolute;
  content: '';
  width: -10%;
  height: 10%;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px;


  /****** 
 optional values below 
 ******/

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: green;

  /* optional animation */
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.sub-heading:hover:after {
  width: 10%;
  background: orange;
}

#space {
  margin-top: 20px;
}