/* Global styles ============= */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab&display=swap');

html,
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';

  color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-color:  #222222;
}

html {
  scroll-behavior: smooth;
}

/* font-family: 'Anton';
font-style: normal;
font-weight: 400 */






body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';

  color: white;

  background-size: cover;
  background-position: center;

}

a {
  color: #fdcc52;
  transition: all .35s;
}


a:hover,
a:focus {
  color: #fcbd20;
}

.list-group-item {
  background-color: transparent;
  color: white;
  list-style-type: disc;
  margin-left: 1rem;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

/* h1, */
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}
h5 {
  margin-top: 20px;
}
section h2 {
  font-size: 50px;
}

/* Navigation bar styles ============= */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #5e6564;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fd52c7;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav>li>a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
  color: #222222;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
  color: #fdcc52;
}


header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #ff8bff;
  background-color: #193718;
  background-size: cover;
  background-position: center;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin: 20px 0;
}

.about-me-txt {
  color: #ff8bff;
}


.sub-heading {
  font-size: 40px;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}


.about {
  background: linear-gradient(#fdcc52, #fdc539);
}







.social-icons a i {
  color: #ff69b4;
}



.text-uppercase {
  color: rgb(16, 16, 17);
}

.card-title {
  color: #222222;
}





.card-body {
  background-color: rgb(240, 248, 226)
}


.sub-heading {
  text-decoration: none;
  position: relative;
}

.sub-heading:after {
  position: absolute;
  content: '';
  width: -10%;
  height: 10%;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px;


  /****** 
 optional values below 
 ******/

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: green;

  /* optional animation */
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.sub-heading:hover:after {
  width: 10%;
  background: orange;
}

#space {
  margin-top: 20px;
}

#skills-section {
  background-color: #f7f7f7;
  padding: 60px 0;
}

#skills-section h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  color: #555555;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  text-align: center;
  margin: 20px;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.skill-card i {
  font-size: 4rem;
  margin-bottom: 20px;
}

.skill-card h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0f0f0f;
}

.skill-card p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 0;
}

.skill-card.blue {
  border-top: 5px solid #007bff;
}

.skill-card.red {
  border-top: 5px solid #dc3545;
}

.skill-card.yellow {
  border-top: 5px solid #ffc107;
}

.skill-card.purple {
  border-top: 5px solid #6f42c1;
}

.skills-desc {
  margin-top: 80px;
  text-align: center;
}

.skills-desc h3 {
  font-size: 3rem;
  font-weight: bold;
 
}

.skills-desc p {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 80px;
  color: #555555;
}
.card-body {
  background-color: #e9ecef;

}

#flip {
  height: 45px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#flip > div > div {
  color: #fff;
  text-align: center;
  padding: 4px 12px;
  height: 55px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

#flip div div {
  background: #ea4492;
}
#flip div:first-child div {
  background: #428cd4;
}
#flip div:last-child div {
  background: #c2649a;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f00909;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

card-header:first-child {
  background-color: #44eac6;
  /* border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  background-color: #f2f2ed;
}